@model Persoon

<h1>Persoonsgegevens</h1>
<form method="post" asp-action="Opdracht1">
    <label>Naam</label>
    <input type="text" asp-for="Voornaam"/>
    <label>Tussenvoegsel</label>
    <input type="text" asp-for="Tussenvoegsel" />
    <label>Achternaam</label>
    <input type="text" asp-for="Achternaam" />
    <input type="submit" value="Verzenden"/>
</form>

@if (ViewBag.LengteNaam != null)
{
<p>Totale lengte = @ViewBag.LengteNaam</p>
}